@import url("./__container.css");
@import url("./__product-card.css");

.pl__main-container {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f08ec5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 96, 96);
}
